<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Children accounting system</title>
</head>
<body>
    <!--header-->
    <div>
        <h3 align="center">Add children information</h3>
    </div>

    <!--main-->
    <div>
        <form method="post">
            <label>Group name:
                <input type="text" name="group_name"><br/>
            </label>
            <label>Educator full name:
                <input type="text" name="educator_full_name"><br/>
            </label>
            <button type="submit">Submit</button>
        </form>
    </div>

    <!--footer-->
    <div>
        <h3 align="center">
            <a href="../index.html">Return to main</a>
        </h3>
    </div>
</body>
</html>