<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Child accounting system</title>
</head>

<style>
    table#main_table tr:nth-child(even) {
        background-color: #eee;
    }
    table#main_table tr:nth-child(odd) {
        background-color: #fff;
    }
    table#main_table th {
        color: white;
        background-color: darkslategray;
    }
</style>

<body>
    <!--header-->
    <div>
        <h1 align="center">Список детских групп</h1>
    </div>

    <!--main-->
    <div>
        <form action="/add_groups">
            <button>Добавить новую информацию</button>
        </form>
        <table id="main_table" align="center" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>Group name</th>
                <th>Educator full name</th>
            </tr>
            <script type="text/javascript">
                function addCell(tableRow, index, data) {
                    // Insert a cell in the row at cell index 0
                    var newCell   = tableRow.insertCell(index);

                    // Append a text node to the cell
                    var newText  = document.createTextNode(data)
                    newCell.appendChild(newText);
                }

                function loadData(url) {
                    var ajax = new XMLHttpRequest();

                    function reqReadyStateChange() {
                        if (ajax.readyState === 4 && ajax.status === 200) {
                            var group = JSON.parse(ajax.responseText);

                            for (var i = 0; i < group.length; i++) {
                                var table_row = document.createElement('tr');
                                addCell(table_row, 0, group[i].id);
                                addCell(table_row, 1, group[i].name);
                                addCell(table_row, 2, group[i].educatorFullName);

                                var edit_link = document.createElement('a');
                                edit_link.setAttribute("href", "/add_groups?id=" + group[i].id);
                                edit_link.innerHTML = "Edit";

                                var delete_link = document.createElement('a');
                                delete_link.setAttribute("href", "/add_groups?action=delete&id=" + group[i].id);
                                delete_link.innerHTML = "Delete";

                                table_row.insertCell(3).appendChild(edit_link);
                                table_row.insertCell(4).appendChild(delete_link);

                                main_table.appendChild(table_row);
                            }
                        } else {
                            alert("Статус запроса: " + ajax.statusText);
                        }
                    }

                    ajax.open("POST", url, false);
                    ajax.send(null);
                    ajax.onreadystatechange = reqReadyStateChange();
                }

                loadData("/list_groups");
            </script>
        </table>
    </div>

    <!--footer-->
    <div>
        <h3 align="center">
            <a href="../index.html">Вернуться на главную</a>
        </h3>
    </div>
</body>
</html>